# cosmic-ublue image metadata
IMAGE_NAME="cosmic-ublue"
IMAGE_REGISTRY="ghcr.io/fery0x"
REPO_ORGANIZATION="fery0x"
SOURCE_REPOSITORY="https://github.com/fery0x/cosmic-ublue"
IMAGE_DESC="Universal Blue COSMIC workstation with native COSMIC applications"
DEFAULT_TAG="latest"
